.main {
  padding: 0 0 100px;
  position: relative;
  z-index: 1;
}

.main-content {
  max-width: 600px;
  width: 100%;
  margin: 0 auto;
}

.main-image {
  max-width: 445px;
  width: 100%;
  font-size: 26px;
}
.main-image__img {
  width: 100%;
  margin: 0 0 30px;
}
.main-image__img img {
  border-radius: 0 0 40px 40px;
}
.main-image h4 {
  font-size: 43px;
  margin: 10px 0 0;
}

.subtitle {
  text-align: center;
  font-size: 26px;
  margin: 0 auto;
  text-transform: uppercase;
  color: #94A3B2;
}
.subtitle::before {
  content: "";
  display: inline-block;
  width: 17px;
  height: 19px;
  min-width: 17px;
  margin: 0 10px 0 0;
  background: url("../img/home-figure.svg") no-repeat center;
  background-size: 100%;
}

.slogan-time {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin: 10px auto 30px;
  font-size: 26px;
}
.slogan-time::before {
  content: "";
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 10px 0 0;
  width: 28px;
  height: 10px;
  min-width: 28px;
  background: url("../img/circle-left.svg") no-repeat center;
  background-size: 100%;
}
.slogan-time::after {
  content: "";
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 0 0 10px;
  width: 28px;
  height: 10px;
  min-width: 28px;
  background: url("../img/circle-right.svg") no-repeat center;
  background-size: 100%;
}

.marquee {
  position: relative;
  width: 100%;
  max-width: 100%;
  background: #94A3B2;
  color: #FAFAFA;
  display: flex;
  overflow-x: hidden;
  font-size: 45px;
  font-family: "Viaoda Libre", sans-serif;
  line-height: 120%;
  padding: 23px 0;
}

.track {
  white-space: nowrap;
  width: 100%;
  display: flex;
  align-items: center;
  animation: marquee 8s linear infinite;
}
.track::after {
  content: "";
  width: 10px;
  height: 10px;
  background: #FAFAFA;
  border-radius: 50%;
  margin: 0 10px 0;
  display: inline-block;
}

@keyframes marquee {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(calc(-100% - 20px));
  }
}
.section-two .subtitle-box {
  font-size: 34px;
  margin: 0 auto;
  text-align: center;
  max-width: 1220px;
}

.reasons h2 {
  margin: 0;
}

.reasons-img {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  border-radius: 80px;
  overflow: hidden;
}
.reasons-img img {
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 80px;
  height: 100%;
  width: 100%;
}

.reasons-box {
  width: 100%;
  height: 445px;
  display: flex;
  flex-direction: column;
  border: 3px solid #0D284C;
  border-radius: 60px;
  padding: 40px 37px;
  font-size: 26px;
}
.reasons-box__number {
  font-size: 108px;
  font-family: "Viaoda Libre", sans-serif;
  color: #0D284C;
  margin: 0 0 auto;
}

.reasons-box-title {
  text-align: center;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  background: #0D284C;
  color: #FAFAFA;
}

.fantasy h2 {
  top: 0;
  position: sticky;
  text-align: left;
}

.fantasy-content {
  position: relative;
}

.fantasy-box {
  width: 100%;
  min-height: 454px;
  position: sticky;
  top: 0;
  left: 0;
  z-index: 1;
  color: #FAFAFA;
  background: #94A3B2;
  border-radius: 60px;
  padding: 40px 60px;
  display: flex;
  align-items: flex-end;
  overflow: hidden;
  margin: 0 0 20px;
}
.fantasy-box:last-child {
  margin: 0;
}
.fantasy-box__bg {
  right: 0;
  top: 0;
  position: absolute;
  z-index: -1;
}
.fantasy-box h4 {
  text-transform: uppercase;
}

.about-course {
  font-size: 34px;
}
.about-course h2 {
  text-align: left;
}

.about-course-wrapper {
  position: relative;
  z-index: 1;
  width: 100%;
  background: #0D284C url("../img/about-decor.svg") no-repeat right bottom;
  background-size: contain;
  border-radius: 80px;
  color: #FAFAFA;
  padding: 80px 100px;
  overflow: hidden;
}

.about-course-content {
  max-width: 740px;
}
.about-course-content .box-text p:last-child {
  max-width: 698px;
}

.slogan-box {
  max-width: 595px;
  border-radius: 30px;
  background: #94A3B2;
  margin: 40px 0;
  padding: 30px 34px;
  display: flex;
  align-items: flex-start;
  font-weight: 600;
}
.slogan-box:before {
  content: "";
  width: 28px;
  min-width: 28px;
  height: 10px;
  background: url("../img/circle.svg") no-repeat center;
  background-size: 100%;
  margin: 13px 25px 0 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.about-course-img {
  position: absolute;
  z-index: -1;
  bottom: 0;
  right: 0;
}

.practicum {
  position: relative;
  z-index: 1;
  background: url("../img/practicum-bg.svg") no-repeat right bottom;
  background-size: 463px;
}
.practicum .box-text {
  max-width: 1140px;
  font-size: 34px;
  text-align: center;
  margin: 0 auto;
}

.days {
  width: 100%;
  display: flex;
  align-items: stretch;
  font-size: 34px;
  margin: 80px 0 0;
}
.days .box-text {
  text-align: left;
}
.days h3 {
  width: 50%;
  font-size: 108px;
  text-transform: none;
}

.days-content {
  width: 50%;
  display: flex;
  flex-direction: column;
  padding: 0 0 0 10px;
}
.days-content .box-text {
  max-width: 700px;
}

.days-icon {
  margin: 0 0 auto;
  max-width: 155px;
}

.practicum-wrapper {
  margin: 40px 0 0;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.practicum-card {
  width: calc(33.33% - 10px);
  margin: 70px 0 20px;
  color: #FAFAFA;
  background: #94A3B2;
  border-radius: 60px;
  position: relative;
  z-index: 1;
  text-align: center;
  padding: 50px 40px 200px;
}
.practicum-card__icon {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 0);
}
.practicum-card h3 {
  margin: 0 auto 35px;
}
.practicum-card .subtitle {
  margin: 0 auto 25px;
  color: rgba(250, 250, 250, 0.5);
}
.practicum-card .box-text {
  max-width: 430px;
  margin: 0 auto;
}
.practicum-card:nth-child(2) {
  margin: 0 0 20px;
}
.practicum-card:nth-child(2) .practicum-card__icon {
  bottom: 32px;
}

.what-awaits {
  position: relative;
  z-index: 1;
  overflow: hidden;
}
.what-awaits__img {
  position: absolute;
  right: 0;
  bottom: 0;
  overflow: hidden;
}
.what-awaits__img img {
  border-radius: 60px 0 0 60px;
}
.what-awaits__content {
  margin: 0 auto;
  max-width: 910px;
  width: 100%;
}
.what-awaits-box {
  width: 100%;
  padding: 70px 0;
  display: flex;
  align-items: flex-start;
  border-top: 2px solid #94A3B2;
  font-size: 34px;
}
.what-awaits-box:last-child {
  border-bottom: 2px solid #94A3B2;
}
.what-awaits-box__number {
  color: #94A3B2;
  font-size: 45px;
  font-family: "Viaoda Libre", sans-serif;
  min-width: 135px;
}
.what-awaits-box__text {
  padding: 0 0 0 20px;
}
.what-awaits-box h4 {
  text-transform: uppercase;
  margin: 0 0 20px;
}

.expert {
  margin: 250px 0 100px;
}

.expert-content {
  width: 100%;
  background: #94A3B2 url("../img/expert-bg.svg") no-repeat center top;
  background-size: 100%;
  border-radius: 80px;
  color: #0D284C;
  padding: 0 20px 80px;
  text-align: center;
}
.expert-content h2 {
  max-width: 1430px;
}
.expert-content h2::before {
  background: url("../img/title-decor-blue.svg") no-repeat center;
  background-size: 100%;
}
.expert-content h2 span {
  text-transform: uppercase;
}
.expert-content .box-text {
  max-width: 910px;
  margin: 0 auto;
}

.expert-photo {
  margin: -190px auto 55px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.intensive-give {
  overflow: hidden;
  width: 100%;
}

.intensive-give-slider {
  min-width: 4500px;
}
.intensive-give-slider .slick-slide {
  margin: 0 20px 0 0;
}

.intensive-give-card {
  width: 910px;
  height: 100%;
  min-height: 1030px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  color: #FAFAFA;
  z-index: 1;
  position: relative;
  padding: 70px 56px;
  border-radius: 60px;
  font-size: 34px;
}
.intensive-give-card__bg {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 60px;
  left: 0;
  top: 0;
  position: absolute;
  z-index: -1;
}
.intensive-give-card__content {
  position: relative;
  z-index: 1;
  border-radius: 50px;
  width: 100%;
  background: #94A3B2;
  padding: 50px 50px 40px;
}
.intensive-give-card .subtitle {
  margin: 0 0 50px;
  color: rgba(250, 250, 250, 0.5);
}
.intensive-give-card h4 {
  font-family: "Inter Tight", sans-serif;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 34px;
  margin: 0 0 13px;
}

.tabs__caption {
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  margin: 0 -10px;
}
.tabs__caption li {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 16.666%;
  text-transform: uppercase;
  font-family: "Viaoda Libre", sans-serif;
  font-size: 45px;
  height: 100px;
  margin: 0 0 20px 0;
  padding: 0 10px;
  cursor: pointer;
}
.tabs__caption li span {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: #0D284C;
  background: #94A3B2;
  border-radius: 25px;
  padding: 25px 10px;
  transition: 0.3s ease;
}
.tabs__caption li:last-child {
  margin: 0;
}
.tabs__caption li.active span {
  background: #0D284C;
  color: #FAFAFA;
}
.tabs__caption li .item-click-text {
  text-transform: none;
  font-family: "Inter Tight", sans-serif;
  font-size: 26px;
  background: transparent;
  border-radius: 0;
  padding: 0;
  text-align: left;
  color: #94A3B2;
}
.tabs__caption li .item-click-text img {
  margin: 0 20px 0 0;
  width: 35px;
  min-width: 35px;
}

.program-content {
  width: 100%;
  display: flex;
  align-items: stretch;
}

.program-card {
  flex: 1;
  border: 3px solid #0D284C;
  padding: 50px 10px 100px;
  text-align: center;
  position: relative;
  z-index: 1;
  width: 100%;
  min-height: 600px;
}
.program-card:first-child {
  border-radius: 60px 0 0 60px;
  margin: 0 -3px 0 0;
}
.program-card:first-child .program-card__bg {
  transform: none;
  left: 0;
  bottom: 0;
  max-width: none;
}
.program-card:nth-child(2) {
  padding-bottom: 250px;
}
.program-card:last-child {
  margin: 0 0 0 -3px;
  border-radius: 0 60px 60px 0;
}
.program-card:last-child .program-card__bg {
  transform: none;
  left: auto;
  right: 0;
  bottom: 0;
  max-width: none;
}
.program-card__icon {
  margin: 0 auto 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.program-card h4 {
  text-transform: uppercase;
  margin: 0 auto 20px;
}
.program-card .box-text {
  font-size: 34px;
}
.program-card__bg {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  left: 50%;
  bottom: 24px;
  transform: translate(-50%, 0);
  z-index: -1;
  max-width: 480px;
  width: 100%;
}
.program-card__bg img {
  width: 100%;
}

.advantages-box {
  width: 100%;
  height: 100%;
  background: #0D284C;
  color: #FAFAFA;
  border-radius: 60px;
  padding: 45px 50px;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}
.advantages-box__icon {
  margin: 0 0 auto;
}
.advantages-box h4 {
  text-transform: uppercase;
  margin: 0 0 25px;
}

.advantages-box-bg {
  padding: 0;
}
.advantages-box-bg img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.why-sign h2 {
  text-align: left;
}
.why-sign__content {
  max-width: 1530px;
  margin-left: auto;
}

.why-sign-card {
  width: 100%;
  height: 100%;
  padding: 40px 50px;
  border-radius: 60px;
  border: 3px solid #0D284C;
}
.why-sign-card__icon {
  margin: 0 0 90px;
  height: 45px;
}
.why-sign-card__icon img {
  max-height: 100%;
}
.why-sign-card h5 {
  text-transform: uppercase;
  margin: 0 0 15px;
  font-size: 34px;
  font-weight: 600;
  max-width: 495px;
  color: #0D284C;
}

.reviews-content {
  width: 100%;
  border-radius: 60px;
  background: url("../img/reviews-bg.jpg") no-repeat center;
  background-size: cover;
  padding: 100px 0 100px 315px;
  color: #FAFAFA;
}

.reviews-card {
  width: 910px;
  min-width: 910px;
  border-radius: 60px;
  position: relative;
  z-index: 1;
  background: #94A3B2 url("../img/reviews-mask.svg") no-repeat center;
  background-size: 100%;
  color: #FAFAFA;
  margin: 0 20px 0 0;
  padding: 35px 50px 40px;
  display: flex;
  flex-direction: column;
}
.reviews-card:last-child {
  margin: 0;
}
.reviews-card h3 {
  text-transform: none;
  margin: 0 0 auto;
}
.reviews-card .box-text {
  margin: 145px 0 0;
}

.bonuses-wrapper {
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  justify-content: center;
}

.bonuses-card {
  max-width: 600px;
  width: 100%;
  margin: 0 20px 0 0;
  border-radius: 60px;
  border: 3px solid #94A3B2;
  position: relative;
  z-index: 1;
  box-shadow: -10px 10px 0px 0px #94a3b2;
  padding: 50px 20px;
  text-align: center;
  overflow: hidden;
}
.bonuses-card__img {
  margin: 0 auto 45px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.bonuses-card .subtitle {
  color: #94A3B2;
  margin: 0 auto 15px;
}
.bonuses-card .box-text {
  margin: 20px auto 0;
  max-width: 500px;
}

.bonuses-card2 {
  padding: 40px 20px 0;
  margin: 10px 0 0;
  border-color: #0D284C;
  box-shadow: 10px -10px 0px 0px #0d284c;
}
.bonuses-card2 .bonuses-card__img {
  margin: 0 auto;
}

.chance {
  text-align: center;
}
.chance h2 {
  max-width: 1520px;
  margin: 0 auto 25px;
}
.chance .title-decor::before {
  background: url("../img/title-decor-white.svg") no-repeat center;
  background-size: 100%;
}
.chance .box-text {
  max-width: 1155px;
  margin: 0 auto;
  font-size: 34px;
}

.chance-content {
  background: #0D284C url("../img/chance-bg.svg") no-repeat center;
  background-size: cover;
  color: #FAFAFA;
  padding: 100px 20px;
  width: 100%;
  border-radius: 60px;
}

.prices {
  margin: 0 0 80px;
}

.price-card__head {
  width: 100%;
  min-height: 310px;
  margin: 0 0 20px;
  position: relative;
  z-index: 1;
  border: 3px solid #0D284C;
  border-radius: 60px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #FAFAFA;
}
.price-card__head .subtext {
  display: block;
  color: #94A3B2;
  margin: 0 auto 30px;
}
.price-card__bg {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  z-index: -1;
}
.price-card__body {
  border: 3px solid #0D284C;
  border-radius: 60px;
  padding: 40px;
  background: #FAFAFA;
  line-height: 135%;
}
.price-card__body h4 {
  margin: 0 0 20px;
}
.price-card .box-text {
  margin: 0 0 80px 0;
  max-width: 516px;
}
.price-card .price {
  margin: 100px 0 0;
}
.price-card__footer {
  margin: 20px 0 0;
}
.price-card__footer .btn {
  width: 100%;
}

.price-card2 .price-card__head {
  border: none;
  color: #FAFAFA;
}
.price-card2 .price-card__head .subtext {
  color: rgba(255, 255, 255, 0.5);
}
.price-card2 .price-card__body {
  background: #0D284C;
  color: #FAFAFA;
  border: none;
}
.price-card2 .price-card .box-text {
  margin: 0 0 35px 0;
}
.price-card2 .price {
  margin: 45px 0 0;
}

.price-card3 .price-card__head {
  color: #FAFAFA;
  border: none;
}
.price-card3 .price-card__head h3 {
  font-size: 168px;
}
.price-card3 .price-card__body {
  background: #94A3B2;
  border: none;
  color: #FAFAFA;
}
.price-card3 .list-check li::before {
  background: url("../img/check-icon-blue.svg") no-repeat center;
  background-size: 100%;
}

.price {
  font-family: "Viaoda Libre", sans-serif;
  font-size: 84px;
  text-align: center;
  line-height: normal;
  margin: 50px auto 0;
}

.callback {
  margin: 50px 0 0;
}
.callback h2 {
  max-width: 1430px;
}
.callback .btn-group {
  justify-content: space-between;
}