/*==========  Desktop First  ==========*/
/* Large Devices, Wide Screens */
@media only screen and (max-width: 1900px) {
  .what-awaits__content {
    margin: 0;
  }
  .what-awaits h2 {
    text-align: left;
  }
  .price {
    font-size: 70px;
  }
}
@media only screen and (max-width: 1600px) {
  body {
    font-size: 22px;
    line-height: normal;
  }
  .main-image {
    max-width: 300px;
    font-size: 24px;
  }
  .main-image h4 {
    font-size: 30px;
  }
  .btn {
    height: 80px;
    font-size: 18px;
    border-radius: 15px;
  }
  .slogan-time {
    font-size: 22px;
  }
  h1 {
    font-size: 250px;
  }
  h1::before {
    top: 37px;
    left: 182px;
    height: 188px;
    background-size: contain;
  }
  h2 {
    font-size: 90px;
  }
  h3 {
    font-size: 70px;
    line-height: 1;
  }
  h4 {
    font-size: 37px;
  }
  .h1-subtitle {
    font-size: 90px;
  }
  .subtitle {
    font-size: 22px;
  }
  .main-content {
    max-width: 530px;
  }
  .reasons-box {
    height: 350px;
    font-size: 24px;
    padding: 15px;
  }
  .reasons-box__number {
    font-size: 70px;
  }
  .about-course-wrapper {
    padding: 60px 80px;
  }
  .about-course-img {
    max-width: 900px;
  }
  .days {
    font-size: 30px;
  }
  .days h3 {
    font-size: 70px;
  }
  .what-awaits__content {
    max-width: 700px;
  }
  .what-awaits-box__number {
    min-width: 60px;
  }
  .title-wrapper {
    margin: 0 0 60px;
  }
  .tabs__caption li {
    font-size: 40px;
  }
  .tabs__caption li .item-click-text {
    font-size: 20px;
  }
  .program-card .box-text {
    font-size: 30px;
  }
  .advantages-box {
    padding: 35px 30px;
  }
  .advantages-box-bg {
    padding: 0;
  }
  .reviews-content {
    padding: 40px 0;
  }
  .reviews-card {
    width: 700px;
  }
  .reviews-slider {
    padding-left: 265px;
  }
  .bonuses-card {
    max-width: 500px;
  }
  .bonuses-card .box-text {
    max-width: 358px;
  }
  .panel_heading .block_title:after {
    width: 60px;
    height: 60px;
    min-width: 60px;
  }
  .chance h2 {
    max-width: 1000px;
  }
  .price-card3 .price-card__head h3 {
    font-size: 120px;
  }
  .price-card .price {
    margin: 60px 0 0;
  }
}
@media only screen and (max-width: 1300px) {
  body {
    font-size: 20px;
  }
  .main {
    padding: 0 0 50px;
  }
  .main .subtitle {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  header {
    margin: 20px 0 30px;
  }
  header .date-project {
    display: none;
  }
  header .logo {
    margin: 0 auto 0 0;
  }
  .logo {
    font-size: 20px;
  }
  .logo img {
    max-width: 48px;
  }
  .link-social {
    width: 50px;
    height: 50px;
    padding: 12px;
    border-radius: 10px;
  }
  .main-image {
    max-width: 216px;
    font-size: 12px;
  }
  .main-image__img {
    margin: 0 0 10px;
  }
  .main-image h4 {
    font-size: 21px;
  }
  .main-content {
    max-width: 380px;
  }
  .btn {
    height: 57px;
    font-size: 14px;
    border-radius: 15px;
  }
  .btn .svg-icon {
    width: 20px;
    min-width: 20px;
    height: 20px;
    margin: 0 10px 0 0;
  }
  h1 {
    font-size: 119px;
  }
  h1::before {
    top: 17px;
    left: 137px;
    width: 100px;
    height: 91px;
  }
  h2 {
    font-size: 80px;
  }
  h3 {
    font-size: 50px;
  }
  h4 {
    font-size: 30px;
  }
  .h1-subtitle {
    font-size: 44px;
  }
  .main .subtitle::before {
    width: 8px;
    height: 7px;
    min-width: 8px;
    margin: 0 5px 0 0;
  }
  .subtitle {
    font-size: 18px;
  }
  .d-tablet {
    display: flex;
  }
  .d-pc {
    display: none;
  }
  .marquee {
    font-size: 22px;
    padding: 15px 0;
  }
  .slogan-time {
    font-size: 14px;
    margin: 10px auto 15px;
  }
  .slogan-time::before, .slogan-time::after {
    width: 19px;
    height: 7px;
    min-width: 19px;
  }
  .date-project {
    justify-content: center;
    font-size: 14px;
    margin: 0 auto 15px;
  }
  .date-project span {
    margin: 0 0 0 5px;
  }
  .section-two .subtitle-box {
    font-size: 28px;
  }
  .reasons-box {
    border-radius: 20px;
    font-size: 18px;
  }
  .reasons-img {
    border-radius: 30px;
  }
  .reasons-img img {
    border-radius: 30px;
  }
  .fantasy-box {
    min-height: 300px;
    border-radius: 45px;
    padding: 20px;
  }
  .about-course-wrapper {
    padding: 45px 50px;
    border-radius: 30px;
  }
  .about-course {
    font-size: 28px;
  }
  .practicum {
    background-size: 400px;
  }
  .practicum .box-text {
    font-size: 28px;
    max-width: 900px;
  }
  .days {
    font-size: 26px;
  }
  .days h3 {
    font-size: 70px;
  }
  .what-awaits-box {
    font-size: 26px;
    padding: 40px 0;
  }
  .what-awaits-box__number {
    min-width: 35px;
  }
  .what-awaits__content {
    max-width: 620px;
  }
  .what-awaits__img {
    max-width: 320px;
  }
  .expert {
    margin: 150px 0 100px;
  }
  .expert-photo {
    max-width: 250px;
    margin: -110px auto 55px;
  }
  .expert-content .box-text {
    max-width: 700px;
  }
  .title-wrapper {
    margin: 0 0 50px;
  }
  .intensive-give-card {
    min-height: 800px;
    width: 600px;
    padding: 40px;
    border-radius: 50px;
    font-size: 28px;
  }
  .intensive-give-card__content {
    padding: 30px;
    border-radius: 30px;
  }
  .tabs__caption li {
    font-size: 30px;
  }
  .tabs__caption li .item-click-text {
    font-size: 16px;
  }
  .tabs__caption li .item-click-text img {
    width: 25px;
    min-width: 25px;
    margin: 0 10px 0 0;
  }
  .advantages-box {
    padding: 25px 20px;
    border-radius: 30px;
  }
  .advantages-box-bg {
    padding: 0;
  }
  .advantages-box h4 {
    margin: 20px 0 10px;
  }
  .why-sign-card {
    padding: 35px;
    border-radius: 35px;
  }
  .why-sign-card__icon {
    margin: 0 0 70px;
    height: 25px;
  }
  .why-sign-card h5 {
    font-size: 30px;
  }
  .reviews-card {
    width: 500px;
  }
  .bonuses-card {
    max-width: 300px;
    border-radius: 30px;
    padding: 30px 10px 30px;
    font-size: 16px;
    box-shadow: -5px 5px 0px 0px #94a3b2;
    border-width: 1px;
    margin: 0 10px 0 0;
  }
  .bonuses-card__img {
    max-width: 188px;
    margin: 0 auto 30px;
  }
  .bonuses-card .box-text {
    margin: 10px auto 0;
  }
  .bonuses-card:last-child {
    padding: 20px 5px 0;
    box-shadow: 5px -5px 0px 0px #0d284c;
    margin: 5px 0 0;
  }
  .bonuses-card:last-child .box-text {
    max-width: 300px;
  }
  .bonuses-card:last-child .bonuses-card__img {
    max-width: 277px;
  }
  .panel_heading {
    padding: 40px 30px;
    border-radius: 40px;
  }
  .panel_heading .block_hover {
    font-size: 28px;
  }
  .price-card__head {
    min-height: 250px;
    padding: 10px;
    border-radius: 25px;
    border-width: 1px;
  }
  .price-card__body {
    border-radius: 25px;
    border-width: 1px;
  }
  .price-card .box-text {
    margin: 0 0 20px;
  }
  .price-card .price {
    margin: 22px 0 0;
  }
  .price {
    font-size: 50px;
  }
  footer {
    padding: 40px 0;
  }
  footer::before {
    width: 300px;
    height: 300px;
  }
  footer .box-text p {
    margin: 0 0 20px;
  }
  footer .box-text p:last-child {
    margin: 0;
  }
  footer .logo {
    margin: 0 0 20px;
    font-size: 22px;
  }
  .list-social {
    margin: 0 0 20px;
  }
  .list-social li a {
    width: 45px;
    height: 45px;
    min-width: 45px;
    padding: 12px;
  }
  .footer-box {
    font-size: 20px;
  }
  .link-document {
    margin: 0 0 20px auto;
  }
  .copyright {
    margin: 20px 0 0;
  }
}
@media only screen and (max-width: 992px) {
  body {
    font-size: 18px;
  }
  .container {
    padding: 0 20px;
  }
  .row {
    margin: 0 -10px;
  }
  .col-50 {
    padding: 0 7px;
  }
  .col-30 {
    padding: 0 7px;
  }
  .mb-20 {
    margin-bottom: 10px;
  }
  .mb-40 {
    margin-bottom: 20px;
  }
  .logo {
    font-size: 12px;
  }
  .logo img {
    max-width: 22px;
    margin: 0 10px 0 0;
  }
  .link-social {
    width: 25px;
    height: 25px;
    min-width: 25px;
    padding: 7px;
    border-radius: 6px;
  }
  h1::before {
    left: 72px;
  }
  .subtitle {
    font-size: 14px;
  }
  .main-content {
    max-width: 250px;
  }
  .main .subtitle {
    font-size: 10px;
  }
  .slogan-time {
    font-size: 10px;
  }
  .slogan-time::before {
    margin: 0 5px 0 0;
  }
  .slogan-time::after {
    margin: 0 0 0 5px;
  }
  .date-project {
    font-size: 10px;
  }
  .track::after {
    width: 6px;
    height: 6px;
  }
  h2 {
    font-size: 70px;
    line-height: 1;
  }
  h3 {
    font-size: 30px;
  }
  h4 {
    font-size: 25px;
    line-height: 1;
  }
  .m-100 {
    margin: 70px 0;
  }
  .title-decor {
    margin: 0 auto 15px;
    padding: 0 0 30px;
  }
  .title-decor::before {
    width: 55px;
    height: 10px;
  }
  .section-two .subtitle-box {
    font-size: 22px;
    max-width: 800px;
  }
  .reasons-box {
    height: 300px;
    font-size: 16px;
  }
  .reasons-box__number {
    font-size: 50px;
  }
  .about-course-img {
    max-width: 650px;
  }
  .about-course {
    font-size: 22px;
  }
  .practicum {
    background-size: 300px;
  }
  .practicum .box-text {
    font-size: 19px;
    max-width: 600px;
  }
  .days {
    font-size: 22px;
    margin: 60px 0 0;
  }
  .days-icon {
    max-width: 120px;
  }
  .what-awaits__content {
    max-width: 500px;
  }
  .what-awaits-box {
    padding: 25px 0;
    font-size: 16px;
  }
  .what-awaits-box__number {
    font-size: 30px;
    line-height: 1;
  }
  .what-awaits-box h4 {
    font-size: 22px;
  }
  .what-awaits__img {
    max-width: 230px;
  }
  .slick-arrow {
    max-width: 80px;
  }
  .tabs__caption {
    margin: 0 -5px;
  }
  .tabs__caption li {
    height: 40px;
    border-radius: 10px;
    font-size: 18px;
    padding: 0 5px;
    margin: 0 0 10px;
  }
  .tabs__caption li span {
    padding: 10px;
    border-radius: 10px;
  }
  .tabs__caption li .item-click-text {
    font-size: 14px;
  }
  .program-card {
    min-height: 500px;
  }
  .program-card .box-text {
    font-size: 22px;
  }
  .program-card__bg {
    max-width: 250px;
  }
  .reviews-slider {
    padding-left: 200px;
  }
  .reviews-card {
    width: 500px;
    border-radius: 25px;
    padding: 30px;
  }
  .reviews-card .box-text {
    margin: 75px 0 0;
  }
  .panel_heading .block_hover {
    font-size: 22px;
    padding: 15px 0 0;
  }
  .panel_heading .block_hover .box-text {
    max-width: 600px;
  }
  .chance-content {
    border-radius: 40px;
    padding: 40px;
  }
  .chance-content .box-text {
    max-width: 700px;
    font-size: 28px;
  }
  .price-card__head {
    min-height: 170px;
  }
  .price-card__body {
    padding: 15px 20px;
  }
  .price-card__footer {
    margin: 10px auto 0;
  }
  .price-card3 .price-card__head h3 {
    font-size: 66px;
  }
  .list-check li {
    margin: 0 0 10px;
  }
  .list-check li::before {
    width: 12px;
    height: 12px;
    min-width: 12px;
    margin: 5px 8px 0 0;
  }
  .price {
    font-size: 30px;
  }
}
@media only screen and (max-width: 768px) {
  body {
    font-size: 16px;
  }
  .logo {
    font-size: 10px;
  }
  .main .subtitle {
    font-size: 10px;
  }
  .slogan-time, .date-project {
    font-size: 10px;
  }
  .date-project p::before {
    width: 5px;
    height: 5px;
    min-width: 5px;
  }
  .m-100 {
    margin: 50px 0;
  }
  h2 {
    font-size: 44px;
    margin: 0 auto 20px;
  }
  h4 {
    font-size: 22px;
  }
  .section-two .subtitle-box {
    font-size: 16px;
    max-width: 562px;
  }
  .reasons-box {
    height: 175px;
    font-size: 10px;
    border-width: 1px;
  }
  .reasons-box__number {
    font-size: 40px;
  }
  .fantasy-box {
    min-height: 180px;
    border-radius: 25px;
  }
  .about-course-wrapper {
    padding: 25px 20px;
    font-size: 14px;
  }
  .about-course-content {
    max-width: 292px;
  }
  .slogan-box {
    margin: 16px 0;
    padding: 15px 18px;
    max-width: 255px;
    font-size: 14px;
    border-radius: 15px;
  }
  .slogan-box::before {
    width: 11px;
    min-width: 11px;
    height: 4px;
    margin: 5px 7px 0 0;
  }
  .about-course-img {
    max-width: 470px;
  }
  .about-course {
    font-size: 14px;
  }
  .practicum {
    background-size: 92px;
    background-position: right calc(100% - 50px);
  }
  .practicum .box-text {
    font-size: 16px;
    max-width: 500px;
  }
  .practicum-card {
    border-radius: 20px;
    padding: 15px 10px 90px;
    margin: 20px 0;
    width: calc(33.33% - 5px);
  }
  .practicum-card:nth-child(2) {
    margin: 0 0 20px;
  }
  .practicum-card h3 {
    margin: 0 auto 10px;
  }
  .practicum-card .subtitle {
    margin: 0 auto 5px;
  }
  .days {
    font-size: 16px;
    margin: 30px 0 0;
  }
  .days h3 {
    font-size: 41px;
  }
  .days-icon {
    max-width: 60px;
  }
  .what-awaits__content {
    max-width: 405px;
  }
  .what-awaits-box {
    padding: 25px 0;
    border-width: 1px;
    font-size: 16px;
  }
  .what-awaits-box:last-child {
    border-width: 1px;
  }
  .what-awaits-box h4 {
    font-size: 22px;
  }
  .what-awaits-box__number {
    font-size: 22px;
    min-width: 25px;
  }
  .what-awaits-box__text {
    padding: 0 0 0 10px;
  }
  .expert-photo {
    max-width: 140px;
    margin: -75px auto 20px;
  }
  .expert-content {
    border-radius: 30px;
    padding: 0 20px 30px;
  }
  .expert-content .box-text {
    max-width: 400px;
  }
  .title-wrapper {
    margin: 0 0 20px;
  }
  .intensive-give-card {
    width: 360px;
    min-height: 400px;
    padding: 30px;
    border-radius: 30px;
    font-size: 13px;
  }
  .intensive-give-card h4 {
    font-size: 14px;
    margin: 0 0 5px;
  }
  .intensive-give-card__content {
    border-radius: 20px;
    padding: 20px 15px;
  }
  .intensive-give-card .subtitle {
    margin: 0 0 20px;
  }
  .intensive-give-slider .slick-slide {
    margin: 0 10px 0 0;
  }
  .tabs__caption li .item-click-text {
    font-size: 12px;
    line-height: 1;
  }
  .tabs__caption li .item-click-text img {
    width: 14px;
    min-width: 14px;
    margin-right: 5px;
  }
  .program-card {
    min-height: 240px;
    border-width: 1.2px;
    padding: 20px 10px 50px;
  }
  .program-card h4 {
    margin: 0 auto 5px;
  }
  .program-card .box-text {
    font-size: 13px;
  }
  .program-card__bg {
    max-width: 187px;
    bottom: 15px;
  }
  .program-card:first-child {
    margin-right: -1px;
    border-radius: 20px 0 0 20px;
  }
  .program-card:nth-child(2) {
    padding-bottom: 120px;
  }
  .program-card:last-child {
    margin-left: -1px;
    border-radius: 0 20px 20px 0;
  }
  .program-card__icon {
    max-width: 50px;
    margin: 0 auto 10px;
  }
  .advantages-box {
    font-size: 12px;
    border-radius: 25px;
    padding: 20px;
    min-height: 200px;
  }
  .advantages-box__icon img {
    max-width: 58px;
  }
  .advantages-box h4 {
    font-size: 18px;
  }
  .advantages-box-bg {
    padding: 0;
  }
  .why-sign-card {
    border-radius: 30px;
    padding: 20px;
    border-width: 1px;
  }
  .why-sign-card__icon {
    margin: 0 0 50px;
  }
  .why-sign-card h5 {
    font-size: 16px;
    margin: 0 0 10px;
  }
  .reviews-slider {
    padding-left: 165px;
  }
  .reviews-content {
    border-radius: 30px;
  }
  .reviews-card {
    padding: 20px;
    width: 400px;
    font-size: 14px;
  }
  .panel_heading {
    border-radius: 20px;
    padding: 20px;
    margin: 0 0 10px;
  }
  .panel_heading:last-child {
    margin: 0;
  }
  .panel_heading .block_title::after {
    width: 35px;
    height: 35px;
    min-width: 35px;
    border-radius: 6px;
    background-size: 15px;
  }
  .panel_heading .block_hover {
    font-size: 16px;
    max-width: 450px;
  }
  .chance-content {
    border-radius: 30px;
    padding: 40px 20px;
  }
  .chance-content .box-text {
    max-width: 567px;
    font-size: 16px;
  }
  .chance h2 {
    max-width: 605px;
  }
  .price-card__head {
    min-height: 120px;
    margin: 0 0 10px;
  }
  .price-card__head .subtext {
    margin: 0 auto 10px;
  }
  .price-card__body {
    line-height: normal;
    font-size: 12px;
  }
  .price-card h4 {
    margin: 0 0 10px;
  }
  .price {
    font-size: 35px;
  }
  .callback {
    margin: 0;
  }
  .btn-group .btn {
    width: 100%;
    margin: 0 auto 10px;
  }
  .btn-group .btn:last-child {
    margin: 0 auto;
  }
  .list-social li {
    margin: 0 5px 0 0;
  }
  .list-social li a {
    border-radius: 6px;
    width: 30px;
    height: 30px;
    min-width: 30px;
    padding: 8px;
  }
  footer::before {
    width: 203px;
    height: 203px;
    bottom: -45px;
  }
  footer .logo {
    font-size: 12px;
  }
  footer .box-text p {
    margin: 0 0 15px;
  }
  footer .box-text p:last-child {
    margin: 0;
  }
  .footer-box {
    font-size: 10px;
  }
  .link-document {
    margin: 0 0 15px auto;
  }
}
@media only screen and (max-width: 735px) {
  header {
    margin: 20px 0 40px;
  }
  .link-social {
    width: 45px;
    height: 45px;
    min-width: 45px;
    border-radius: 10px;
  }
  .link-social svg {
    max-width: 20px;
  }
  .logo {
    font-size: 18px;
  }
  .logo img {
    max-width: 35px;
  }
  .main .container {
    flex-direction: column;
    align-items: center;
  }
  .main .subtitle {
    font-size: 14px;
  }
  .main .subtitle::before {
    width: 12px;
    height: 13px;
  }
  .main-content {
    max-width: 300px;
    order: -1;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  h1 {
    font-size: 145px;
  }
  h1::before {
    top: 21px;
    width: 148px;
    height: 110px;
  }
  .h1-subtitle {
    font-size: 54px;
  }
  .date-project {
    order: 1;
    margin: 10px auto 0;
    font-size: 14px;
  }
  .slogan-time {
    font-size: 14px;
    position: relative;
    z-index: 1;
    padding: 15px 0 0;
  }
  .slogan-time::before, .slogan-time:after {
    position: absolute;
    top: 0;
  }
  .slogan-time::before {
    left: calc(50% - 25px);
  }
  .slogan-time::after {
    right: calc(50% - 25px);
  }
  .main-image {
    max-width: 300px;
    font-size: 14px;
    text-align: center;
    margin: 15px auto 0;
  }
  .main-image .d-pc-tablet {
    display: none;
  }
  .main-image .d-mobile {
    display: block;
  }
  .main-image__icon {
    justify-content: center;
    display: flex;
    align-items: center;
  }
  .main-image__text {
    max-width: 300px;
  }
  .main-image h4 {
    margin: 10px auto;
    font-size: 28px;
  }
}
@media only screen and (max-width: 650px) {
  .prices .col-30 {
    width: 100%;
  }
  .price-card__head {
    margin: 0 auto;
    min-height: 155px;
  }
  .price-card__head h3 {
    font-size: 40px;
  }
  .price-card .subtext {
    font-size: 18px;
  }
  .price-card__body {
    padding: 20px;
    font-size: 14px;
  }
  .price-card .price {
    margin: 20px auto 0;
  }
  .list-check li::before {
    margin-top: 3px;
  }
  .bonuses-wrapper {
    flex-direction: column;
    align-items: center;
  }
  .bonuses-card {
    max-width: 295px;
    margin: 0 auto 20px;
    padding: 25px 10px;
    font-size: 14px;
  }
  .bonuses-card .box-text {
    max-width: 250px;
  }
  .bonuses-card:last-child {
    margin: 0 auto;
  }
  .bonuses-card:last-child .box-text {
    max-width: 250px;
  }
  .bonuses-card:last-child .bonuses-card__img {
    max-width: 225px;
  }
  .bonuses-card__img {
    max-width: 157px;
    margin: 0 auto 20px;
  }
  .tabs__caption li {
    width: 33.33%;
  }
  .what-awaits__img {
    position: relative;
    margin: 20px auto 0;
    top: 0;
    transform: none;
    right: auto;
    max-width: 300px;
    border-radius: 20px;
  }
  .what-awaits__img .d-mobile {
    display: block;
  }
  .what-awaits__img .d-pc-tablet {
    display: none;
  }
  .what-awaits__img img {
    border-radius: 20px;
  }
  .what-awaits__content {
    max-width: none;
  }
  .what-awaits-box {
    font-size: 14px;
    padding: 15px 0;
  }
  .what-awaits-box h4 {
    font-size: 16px;
    margin: 0 0 10px;
  }
  .what-awaits-box__number {
    font-size: 16px;
    min-width: 20px;
  }
  .what-awaits-box__text {
    padding: 0 0 0 5px;
  }
  .days {
    flex-wrap: wrap;
    margin: 20px 0 0;
  }
  .days h3 {
    width: 100%;
    text-align: center;
    margin: 0 auto 20px;
    font-size: 26px;
  }
  .days-content {
    padding: 0;
    width: 100%;
    align-items: flex-start;
    flex-direction: row;
  }
  .days-content .box-text {
    max-width: none;
    width: 100%;
    margin: 0 0 0 20px;
  }
  .practicum-wrapper {
    margin: 20px 0 0;
    flex-wrap: wrap;
  }
  .practicum-card {
    width: 100%;
    margin: 0 0 10px;
    border-radius: 20px;
    padding: 20px 20px 80px;
    font-size: 14px;
  }
  .practicum-card .box-text {
    font-size: 14px;
  }
  .practicum-card__icon {
    max-width: 144px;
  }
  .practicum-card:nth-child(2) .practicum-card__icon {
    bottom: 20px;
  }
}
@media only screen and (max-width: 576px) {
  body {
    font-size: 14px;
  }
  .container {
    padding: 0 10px;
  }
  h2 {
    font-size: 30px;
    margin: 0 auto 20px;
  }
  h3 {
    font-size: 22px;
  }
  .m-100 {
    margin: 40px 0;
  }
  .title-wrapper {
    margin: 0 0 15px;
  }
  .price {
    font-size: 40px;
  }
  .chance-content {
    border-radius: 20px;
    padding: 40px 20px;
  }
  .chance-content .box-text {
    font-size: 14px;
  }
  .chance h2 {
    margin: 0 auto 10px;
  }
  .title-decor {
    padding: 0 0 20px;
  }
  .title-decor::before {
    width: 35px;
    height: 6px;
  }
  .panel_heading .block_title:after {
    width: 25px;
    height: 25px;
    min-width: 25px;
    background-size: 10px;
  }
  .panel_heading h3 {
    font-size: 18px;
    max-width: 220px;
  }
  .panel_heading .block_hover {
    font-size: 12px;
    padding: 10px 0 0;
  }
  .reviews-slider {
    padding: 0 0 0 25px;
  }
  .reviews-slider .slick-slide {
    margin: 0 10px 0 0;
  }
  .reviews-content {
    border-radius: 25px;
  }
  .reviews-card {
    font-size: 12px;
    width: 250px;
  }
  .reviews-card .box-text {
    margin: 30px 0 0;
  }
  .col-50, .col-30 {
    width: 100%;
  }
  .why-sign-card {
    border-radius: 25px;
    font-size: 14px;
    padding: 25px;
  }
  .why-sign-card__icon {
    margin: 0 0 65px;
  }
  .why-sign-card h5 {
    font-size: 14px;
  }
  .marquee {
    font-size: 16px;
    padding: 12px 0;
  }
  .track::after {
    width: 4px;
    height: 4px;
  }
  .advantages-box {
    font-size: 14px;
    min-height: 256px;
    padding: 25px;
  }
  .advantages-box__icon img {
    max-width: 35px;
  }
  .advantages-box-bg {
    padding: 0;
  }
  .tabs__content .w-100 {
    overflow-x: auto;
  }
  .program-content {
    min-width: 727px;
  }
  .tabs__caption li {
    font-size: 16px;
    height: 35px;
    margin: 0 0 8px;
    padding: 0 4px;
  }
  .tabs__caption li .item-click-text {
    font-size: 10px;
  }
  .arrow-right-click {
    max-width: 95px;
    margin: 10px 0 10px auto;
  }
  .program-card {
    font-size: 13px;
  }
  .program-card h4 {
    font-size: 18px;
  }
  .intensive-give-card {
    width: 100%;
    padding: 15px;
    min-height: 330px;
    border-radius: 25px;
    font-size: 12px;
  }
  .intensive-give-card__content {
    border-radius: 15px;
  }
  .intensive-give-card h4 {
    font-size: 12px;
  }
  .slick-arrow {
    max-width: 60px;
  }
  .intensive-give-slider {
    min-width: auto;
  }
  .expert {
    margin: 80px 0 40po9;
  }
  .expert-photo {
    max-width: 100px;
    margin: -50px auto 30px;
  }
  .expert-content {
    border-radius: 20px;
  }
  .expert-content .box-text {
    max-width: 250px;
  }
  .about-course-wrapper {
    border-radius: 20px;
    background: #0D284C url("../img/about-decor-mob.svg") no-repeat center -140px;
    background-size: cover;
    font-size: 12px;
    padding: 25px 25px 230px;
  }
  .slogan-box {
    max-width: none;
    width: 100%;
    border-radius: 15px;
    font-size: 12px;
  }
  .about-course-content {
    max-width: none;
  }
  .about-course-img {
    max-width: none;
    width: 423px;
    right: auto;
    left: 40%;
    transform: translate(-50%, 0);
  }
  .fantasy {
    margin: 40px 0 20px;
  }
  .fantasy h2 {
    text-align: center;
  }
  .fantasy-box {
    border-radius: 20px;
    padding: 15px;
    font-size: 14px;
    min-height: 150px;
  }
  .fantasy-box h4 {
    font-size: 16px;
  }
  .reasons .d-mobile {
    display: block;
  }
  .reasons .d-pc-tablet {
    display: none;
  }
  .reasons-box {
    font-size: 14px;
    height: 145px;
  }
  .reasons-box__number {
    margin: 0 0 auto;
    font-size: 30px;
  }
  .reasons-box-title {
    height: auto;
    padding: 13px 10px;
  }
  .section-two .subtitle-box {
    font-size: 14px;
    max-width: 300px;
  }
}
@media only screen and (max-width: 370px) {
  footer {
    padding: 100px 0;
    font-size: 14px;
  }
  footer:before {
    display: none;
  }
  footer .logo {
    margin: 0 auto 20px;
    font-size: 17px;
    text-align: left;
  }
  footer .logo img {
    width: 36px;
    min-width: 36px;
  }
  footer .box-text p {
    margin: 0 0 10px;
  }
  .footer-box {
    max-width: 100%;
    width: 100%;
    text-align: center;
    margin: 0 auto 15px;
  }
  .footer-box:last-child {
    margin: 0 auto;
    text-align: center;
  }
  .list-social {
    justify-content: center;
    margin: 0 auto 10px;
    width: 55px;
    height: 55px;
    min-width: 55px;
    border-radius: 15px;
  }
  .d-mobile {
    display: block;
  }
  .d-pc-tablet {
    display: none;
  }
  .text-forbidden {
    font-size: 12px;
    margin: 0 auto 15px;
  }
  .link-document {
    margin: 0 auto 15px;
  }
  .link-document:last-child {
    margin: 0 auto;
  }
  .copyright {
    margin: 10px auto 0;
  }
  .about-course-wrapper {
    background-position: center -30px;
  }
}